@import url("../../css/index.css");

.product-contents{
    display: flex;
    flex-direction: row;
}

.head3{
    color: var(--bg-primary);
}

.head4{
    font-size: 1rem;
}

.filters-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 220px;
    width: 15%;
    height: calc(-60px+100vh);
}

.price-container,.type-container{
    display:flex;
    flex-direction: column;
    padding: 1rem;
    border: 3px solid var(--border-color-white);
}

.products-container{
    background-color: var(--bg-light);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1.5rem;
    margin-left:auto;
    width:100%;
    padding: 2rem;
}

.products-container>.card{
    width:18rem;
    padding: 1rem;
    background-color:var(--smokewhite-color);
}

.card-badge-green{
    background-color: var(--green-color);
}

.products-container>.card>.product-cost{
    margin-top:0.8rem;
}

.products-container>.card>.fa-heart{
    position:absolute;
    padding: 0.1rem 1rem;
    top: 0.5rem;
    right:0;
}
.card-actions>.btn{
    width: 100%;
}

.card-actions>.pri-btn{
    box-shadow: none;
}

.card-actions>.pri-btn:hover{
    color: var(--white-color);
    background-color: var(--text-red);
    opacity:100%;
    font-weight: bolder;
}

.med-red {
    color: var(--red-color);
    font-size: 2.2rem;
}

.fa-heart:hover{
    transform: scale(1.1,1.1);
    transition: 220ms;
}

.card-actions{
    align-content: center;
    align-items:center;
}